@forward 'colors';

.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px;
    height: 135px;
    margin-left: 20px;

    &__logo {
        width: 108px;
        flex-shrink: 0;
        margin-left: 25px;
        margin-right: 20px;

        img {
            width: 100%;
            margin-top: 15px;
            margin-left: 10px;
        }
    }

    &__links-container {
        margin: 0px 50px 0px 50px;
        min-width: 0px;
        max-width: 1000px;
        flex: 1;
    }

    &__upper-links {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 30px;
        font-size: 14px;
        margin-top: 15px;
        flex: 1;

        &--left {
            display: flex;
            justify-content: space-between;
            width: 275px;
            align-items: center;
        }

        &--right {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 430px;
            flex-shrink: 0;
            margin-right: 40px;

            div {
                display: flex;
                align-items: center;
            }
        }
    }

    &__search-icon {
        width: 37px;
        margin-right: -5px;
    }

    &__location-icon {
        width: 15px;
        margin-right: 5px;
    }

    &__location-text {
        color: rgb(var(--blue));
        text-decoration: underline;
    }

    &__lower-links {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0px 50px 35px 0px;
        max-width: 850px;
        flex: 1;
    }
}